@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300;500&display=swap');


body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.maine-heading{
    color: red;
}
.sec-heading{
    font-style: italic;
}

.container{
padding: 1rem 2rem;
}

/*.container-fluid{

}*/

.container-centered{
color: blue;
}